{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
dadus senhas
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">
    {% include 'templateKombustivel/side-navbar.html' %}
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                <h1 class="mt-4">Dadus Fulan</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{% url 'dash_kombustivel' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Dadus Fulan</li>
                </ol>
                  <div class="card mb-4 mt-4">
                      <div class="card-header">
                          <i class="fas fa-table me-1"></i>
                          Dadus Fulan
                      </div>
                      <div class="card-body">
                        {% comment %} <button class="add-data mb-4">Tambah Data</button> {% endcomment %}
                        <a class="button-add mb-2 btn btn-primary" href="{% url 'aumenta_dadus_fulan' %}">
                        <i class ="fa fa-plus"></i>Aumenta</a> 
                                      
                        <table id="datatablesSimple">
                              <thead>
                                  <tr>
                                      <th>Nu</th>
                                      <th>Fulan</th>
                                      <th>aksaun</th>
                                  </tr>
                              </thead>
                           <tfoot>
                                <tr>
                                    <th>Nu</th>
                                    <th>Fulan</th>
                                    <th>aksaun</th>
                                </tr>
                              </tfoot> 
                              <tbody>
                                 {% for fulan in kombustivels %}
                                  <tr>
                                        <td>{{ forloop.counter }}</td> <!-- Display field number -->
                                        <td>{{fulan.naran_fulan}}</td>
                                        <td> 
                                            <a class="btn-edit btn btn-primary" href="{% url 'updateFulan' fulan.id_fulan %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a class="btn-Delete btn btn-danger" href="{% url 'delete_dadus_fulan' fulan.id_fulan %}" onclick="return confirm('Ita boot hakarak apaga dadus ida nee?')"><i class="fa fa-trash" aria-hidden="true"></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </main>
          {% include 'templateKombustivel/footer.html' %}
      </div>
  </div>
       
</body>
{% endblock %}

