{% extends 'templateKombustivel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block konteudu %}
{% include 'templateKombustivel/side-navbar.html' %}
<body class="sb-nav-fixed">
<div id="layoutSidenav_content">
<main>
<div class="container">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="card mt-4 mb-4">
        <div class="card-header"><h3>Formulariu Prenxe Dadus Transporte</h3></div>
        <div class="card-body">

        <div class="row">
          <div class="col-6">
            {{ form.nu_matricula | as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.categoria | as_crispy_field }}
          </div>
        </div>
        <div class="row">
            <div class="col-6">
              {{ form.tipo_transporte | as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Rai Dadus</button>
        <a href="{% url 'dadus_trans' %}" class="btn btn-warning">Kansela</a> 
    </div>
    </div>
    </form>
</div>
</main>
{% include 'templateKombustivel/footer.html' %}
</div>
</body>
{% endblock konteudu%}