{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
Dadus Transporte
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">
    {% include 'templateKombustivel/side-navbar.html' %}
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Pajina Inisiu</a></li>
                    <li class="breadcrumb-item active">Dadus Transporte</li>
                </ol>
                  <div class="card mb-4 mt-4">
                      <div class="card-header">
                        <h3><i class="fas fa-table me-1"></i>
                          Dadus Transporte</h3>
                      </div>
                      <div class="card-body">
                        {% comment %} <button class="add-data mb-4">Tambah Data</button> {% endcomment %}
                        <a class="button-add mb-2 btn btn-primary" href="{% url 'aumenta_dadus_transporte' %}">
                        <i class ="fa fa-plus"></i>Aumenta</a> 
                                      
                        <table id="datatablesSimple">
                              <thead>
                                  <tr>
                                      <th>Nu</th>
                                      <th>Modelu_transporte</th>
                                      <th>Numeru Matrikula</th>
                                      <th>Kategoria</th>
                                      <th>aksaun</th>
                                  </tr>
                              </thead>
                           <tfoot>
                                <tr>
                                    <th>Nu</th>
                                    <th>Modelu_transporte</th>
                                    <th>Numeru Matrikula</th>
                                    <th>Kategoria</th>
                                    <th>aksaun</th>
                                </tr>
                              </tfoot> 
                              <tbody>
                                {% for Transporte in transporte %}
                                  <tr>
                                    {% comment %} <td>{{ forloop.counter }}</td> <!-- Display field number --> {% endcomment %}
                                      {% comment %} <td>{{kombustivel.tipo_kombustivel}}</td> {% endcomment %}
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{Transporte.tipo_transporte}}</td>
                                      <td>{{Transporte.nu_matricula}}</td>
                                      <td>{{Transporte.categoria}}</td>
                                     
                                      <td>
                                        <a class="btn-edit btn btn-primary" href="{% url 'updateTransporte' Transporte.id_transporte %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a class="btn-Delete btn btn-danger" href="{% url 'delete_dadus_transporte' Transporte.id_transporte %}" onclick="return confirm('Ita boot hakarak apaga dadus ida nee?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                      </td>
                                    </tr>
                                {% endfor %}
                                  </tr>
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </main>
          {% include 'templateKombustivel/footer.html' %}
      </div>
  </div>
       
</body>
{% endblock %}

