{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
Dashboard Kombustivel
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">

    {% include 'templateKombustivel/side-navbar.html' %}

      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                  <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item mt-4"><a href="{% url 'home' %}">Pajina Inisiu</a></li>
                    <li class="breadcrumb-item active mt-4">Monitoring</li>
                  </ol>
                  <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Statistika
                        </div>
                        <div class="card-body shadow p-3">
                  <div class="row mt-2">
                      <div class="col-xl-3 col-md-6">
                          <div class="card shadow-lg bg-primary text-white mb-4">
                              <div class="card-body">Total Stock Tama</div>
                              <div class="card-body"><h4>$ {{ total_stock_in }}</h4></div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                  <a class="small text-white stretched-link" href="{% url 'StockIn' %}">Hare Detalhu</a>
                                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card shadow-lg bg-primary text-white mb-4">
                            <div class="card-body">Total Stock Sai</div>
                            <div class="card-body"><h4>$ {{ total_stock_out }}</h4></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'StockOut' %}">Hare Detalhu</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                      <div class="col-xl-3 col-md-6">
                          <div class="card shadow-lg bg-success text-white mb-4">
                              <div class="card-body">Stock Kombustivel Atual</div>
                              <div class="card-body"><h4>$ {{ stock_atual }}</h4></div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                  <a class="small text-white stretched-link" href="{% url 'dadus_distributor' %}">Hare Detalhu</a>
                                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                          <div class="card shadow-lg bg-danger text-white mb-4">
                              <div class="card-body">Total Transporte</div>
                              <div class="card-body"><h4><i class="fa fa-car"></i> {{ total_trans }}</h4></div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                  <a class="small text-white stretched-link" href="{% url 'dadus_trans' %}">Hare Detalhu</a>
                                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card shadow-lg bg-danger text-white mb-4">
                            <div class="card-body">Total Motorista</div>
                            <div class="card-body"><h4><i class="fa fa-male" aria-hidden="true"></i> {{ total_motor }}</h4></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'dadus_motorista' %}">Hare Detalhu</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card shadow-lg bg-warning text-white mb-4">
                            <div class="card-body">Pessoal Foti Kombustivel</div>
                            <div class="card-body"><h4><i class="fa fa-male" aria-hidden="true"></i> {{total_motorista_foti_mina }}</h4></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'distribui_kom' %}">Hare Detalhu</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                          <div class="card shadow-lg bg-warning text-white mb-4">
                              <div class="card-body">Total Distributor</div>
                              <div class="card-body"><h4><i class="fa fa-male" aria-hidden="true"></i> {{ total_distributor }}</h4></div>
                              <div class="card-footer d-flex align-items-center justify-content-between">
                                  <a class="small text-white stretched-link" href="{% url 'dadus_distributor' %}">Hare Detalhu</a>
                                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card shadow-lg bg-warning text-white mb-4">
                            <div class="card-body">Totsl Senhas</div>
                            <div class="card-body"><h4><i class="fa fa-credit-card" aria-hidden="true"></i> {{ total_senhas }}</h4></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'dadus_senhas' %}">Hare Detalhu</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                </div>
            </div>
                  <div class="row">
                      <div class="col-xl-6">
                          <div class="card mb-4">
                              <div class="card-header">
                                  <i class="fas fa-chart-area me-1"></i>
                                  Gastus Kombustivel Kada Tinan
                              </div>
                              <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                          </div>
                      </div>
                      <div class="col-xl-6">
                          <div class="card mb-4">
                              <div class="card-header">
                                  <i class="fas fa-chart-bar me-1"></i>
                                  Gastus Kombustivel Kada Fulan
                              </div>
                            <article
                                id="electric-cars"
                                data-parent="{{ dist_month }}">
                            </article>

                              <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                          </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Gastus Kombustivel Kada Regional
                            </div>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Gastus Kombustivel Kada Regional
                            </div>
                            <div class="card-body"><canvas id="gastusregional" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                  </div>
                  {% comment %} 
              </div> {% endcomment %}
          </main>
          <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <b><div class="text-muted">Copyright &copy; Sistema Jestaun Kombustivel-INFPM</div></b>
                    <div>
                        <a class="text-muted">Kria husi Enjinaria Informatika UNTL</a>
               
                    </div>
                </div>
            </div>
        </footer>
      </div>
  </div>
       
</body>
{% endblock %}

