{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
Dashboard Kombustivel
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">

    {% include 'templateKombustivel/side-navbar.html' %}

      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                  <div class="col-xl-12">
                        <div class="card mb-4 mt-4">
                            <div class="card-body shadow p-3">
                                <center><img src="{% static 'image/logoInfpm.png' %}"height="140px" width="450px" class="shadow p-3"></center>
                                <h1 class="text-center">..........BEMVINDU MAI IHA...........</h1>
                                <h2 class="text-center">SISTEMA JESTAUN KOMBUSTIVEL INFPM</h2>
                                <h3 class="text-center">Sistema ida ne'e sei fasilita ita bo'ot sira halo transaksaun ba kombustivel, atu rai dadus sira ho seguru no fasil atu halo monitor ba kombustivel. Bainhira atu sai husi sistema ida ne'e keta haluhan logout iha leten hodi sai husi sistema....</h3>
                            </div>
                        </div>
                    </div>
                </div>
          </main>
          <footer class="py-4 bg-white mt-auto">
              <div class="container-fluid px-4">
                  <div class="d-flex align-items-center justify-content-between small">
                    <strong class="text-center">Copyright &copy; sistema jestaun Kombustivel-INFPM</strong>
                  </div>
              </div>
          </footer>
      </div>
  </div>
       
</body>
{% endblock %}

