{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
Dashboard Kombustivel
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">

    {% include 'templateKombustivel/side-navbar.html' %}

      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid mt-2">
                <img class="col-xl-12" src="{% static 'image/home.png' %}"height="510px" width="460px" class="shadow p-3">       
          </main>
          <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <b><div class="text-muted">Copyright &copy; Sistema Jestaun Kombustivel-INFPM</div></b>
                    <div>
                        <a class="text-muted">Kria husi Enjinaria Informatika UNTL</a>
               
                    </div>
                </div>
            </div>
        </footer>
      </div>
  </div>
       
</body>
{% endblock %}

