{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
distribui kombustivel
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">
    {% include 'templateKombustivel/side-navbar.html' %}
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                {% comment %} <h1 class="mt-4">Tabela Distribuisaun</h1> {% endcomment %}
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a href="{% url 'dash_kombustivel' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Dadus Distribuisaun</li>
                </ol>
                  <div class="card mb-4 mt-4">
                      <div class="card-header">
                        <h3><i class="fas fa-table me-1"></i>
                        Dadus Pessoal neebe foti kombustivel</h3>
                      </div>
                      <div class="card-body">
                        {% comment %} <button class="add-data mb-4">Tambah Data</button> {% endcomment %}
                        <a class="button-add mb-2 btn btn-primary" href="{% url 'aumenta_dadus_distribuisaun' %}">
                        <i class ="fa fa-plus"></i>Aumenta</a> 
                                      
                        <table id="datatablesSimple">
                              <thead>
                                  <tr>
                                      <th>Nu</th>
                                      <th>Data foti senhas</th>
                                      <th>Modelu Transporte</th>
                                      <th>kategoria</th>
                                      <th>Nu-Matrikula</th>
                                      <th>Nu-senhas</th>
                                      <th>Kilometrajen</th>
                                      <th>Pessoal Foti Senhas</th>
                                      <th>Diresaun</th>
                                      <th>Departamentu</th>
                                      <th>Tipo Kombustivel</th>
                                      <th>Folin Senhas</th>
                                      <th>Folin Unitariu</th>
                                      <th>Destinasaun</th>
                                      <th>aksaun</th>
                                  </tr>
                              </thead>
                           <tfoot>
                                <tr>
                                    <th>Nu</th>
                                    <th>Data Foti Senhas</th>
                                    <th>Modelo Transporte</th>
                                    <th>kategoria</th>
                                    <th>Nu-Matrikula</th>
                                    <th>Nu-Senhas</th>
                                    <th>Kilometrajen</th>
                                    <th>Pessoal Foti Senhas</th>
                                    <th>Diresaun</th>
                                    <th>Departamentu</th>
                                    <th>Tipo Kombustivel</th>
                                    <th>Folin Senhas</th>
                                    <th>Folin Unitariu</th>
                                    <th>Destinasaun</th>
                                    <th>aksaun</th>
                                </tr>
                              </tfoot> 
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>23-04-24</td>
                                      <td>toyota a4</td>
                                      <td>kareta</td>
                                      <td>5656577</td>
                                      <td>65533</td>
                                      <td>540</td>
                                      <td>eurico</td>
                                      <td>apfrh</td>
                                      <td>arh</td>
                                      <td>gazoel</td>
                                      <td>$320</td>
                                      <td>$320</td>
                                      <td>dili baucau</td>
                                      <td>
                                        <a class="btn-edit btn btn-primary" href="">Edit</a>
                                        <a class="btn-Delete btn btn-danger" href="">Delete</a>
                                      </td>
                                    </tr>
                                  </tr>
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </main>
          <footer class="py-4 bg-light mt-auto">
              <div class="container-fluid px-4">
                  <div class="d-flex align-items-center justify-content-between small">
                      <div class="text-muted">Copyright &copy; Your Website 2023</div>
                      <div>
                          <a href="#">Privacy Policy</a>
                          &middot;
                          <a href="#">Terms &amp; Conditions</a>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
       
</body>
{% endblock %}

