{% extends 'templateKombustivel/base.html' %}
{% load static %}

{% block title %}
distribui kombustivel
{% endblock %}

{% block konteudu %}
<body class="sb-nav-fixed">
    {% include 'templateKombustivel/side-navbar.html' %}
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-4">
                {% comment %} <h1 class="mt-4">Tabela Distribuisaun</h1> {% endcomment %}
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Pajina Inisiu</a></li>
                    <li class="breadcrumb-item active">Relatorio Stock Out</li>
                </ol>
                  <div class="card mb-4 mt-4">
                      <div class="card-header">
                        <h3><i class="fas fa-table me-1"></i>
                        Relatorio Stock Out</h3>
                      </div>
                      <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <a class="button-group mb-2 btn btn-primary" id="exportBtn">Download</a>   
                                    {% csrf_token %}
                                Data Hahu :<input type="date" name= "datahahu">
                                Data ikus :<input type="date" name= "dataikus">
                                    {% comment %} <a class="button-group mb-2 btn btn-primary" id="exportBtn"></i>Filter</a> {% endcomment %}
                                <input type='submit' value='Search'/>
                                    {% comment %} <input type="text" id="searchInput" onkeyup="liveSearch()" placeholder="Buka dadus distribuisaun.." class="form-control" style="width: 200px; float: right; clear: both;"> {% endcomment %}
                            </div>
                            {% comment %} <button class="add-data mb-4">Tambah Data</button> {% endcomment %}

                                <div class="table-responsive">             
                                    <table id="distribuisaunStockOut" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nu</th>
                                                <th>Data foti senhas</th>
                                                <th>Modelu Transporte</th>
                                                <th>kategoria</th>
                                                <th>Nu-Matrikula</th>
                                                <th>Kilometrajen</th>
                                                <th>Nu-senhas</th>
                                                <th>Folin Senhas</th>
                                                <th>Folin Unitariu</th>
                                                <th>Tipo Kombustivel</th>
                                                <th>Pessoal Foti Senhas</th>
                                                <th>Diresaun</th>
                                                <th>Departamentu</th>
                                                <th>Destinasaun</th>
                                            </tr>
                                        </thead>
                                    
                                        <tbody>
                                            {% for distribuisaun in page_obj %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{distribuisaun.data}}</td>
                                                <td>{{distribuisaun.id_transporte.tipo_transporte}}</td>
                                                <td>{{distribuisaun.id_transporte.categoria}}</td>
                                                <td>{{distribuisaun.id_transporte.nu_matricula}}</td>
                                                <td>{{distribuisaun.kilometrajen}} Km </td>
                                                <td>{{distribuisaun.id_senhas.nu_senhas}}</td>
                                                <td>$ {{distribuisaun.id_senhas.folin_senhas}}</td>
                                                <td>$ {{distribuisaun.folin_utilitariu}}</td>
                                                <td>{{distribuisaun.tipo_kombustivel}}</td>
                                                <td>{{distribuisaun.id_motorista.naran_motorista}}</td>
                                                <td>{{distribuisaun.id_motorista.id_diresaun}}</td>
                                                <td>{{distribuisaun.id_motorista.id_departamentu}}</td>
                                                <td>{{distribuisaun.destinasaun}}</td>
                                            </tr>  
                                            {% endfor %}
                                                <tr style="background-color:#f0f0f0;">
                                                    <td colspan="7"><b>Total: </b></td>
                                                    <td style="background-color: #c9c9c9;"><b> ${{ total_montante }}<b></td>
                                                    <td colspan="12"></td>
                                                </tr>                        
                                        </tbody>
                                    </table>
                                </form>
                                    <div class="pagination justify-content-left mt-2">
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                            {% endif %}
                                            
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">
                                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                            
                                            {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>     
                  </div>
              </div>
          </main>
          {% include 'templateKombustivel/footer.html' %}
      </div>
  </div>
       
</body>
<script>
    function liveSearch() {
        // Get the search input element and its value
        let input = document.getElementById('searchInput');
        let filter = input.value.toLowerCase();
        // Get the table and its rows
        let table = document.getElementById('distribuisaunTable');
        let rows = table.getElementsByTagName('tr');

        // Loop through the rows and hide those that don't match the search query
        for (let i = 1; i < rows.length; i++) { // Start at 1 to skip the header row
            let cells = rows[i].getElementsByTagName('td');
            let match = false;
            for (let j = 0; j < cells.length; j++) {
                if (cells[j]) {
                    if (cells[j].innerText.toLowerCase().indexOf(filter) > -1) {
                        match = true;
                        break;
                    }
                }
            }
            rows[i].style.display = match ? '' : 'none';
        }
    }



        function exportTableToExcel(tableID, filename = 'Relatoriu_Stock_Out.xlsx') {
            // Get the table element
            let table = document.getElementById(tableID);
            let wb = XLSX.utils.book_new();
            let ws = XLSX.utils.table_to_sheet(table);
        
            // Add the sheet to the workbook
            XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        
            // Write the workbook and download it
            XLSX.writeFile(wb, filename);
        }
        
        // Add event listener to your export button (if you have one)
        document.getElementById('exportBtn').addEventListener('click', function () {
            exportTableToExcel('distribuisaunStockOut');
        });
        </script
        

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

{% endblock %}

